.toast-container {
  position: fixed;
  width: 320px;
  padding: 4px;
  /* height: auto; */
  z-index: 9999;
  perspective: 1000px;
  /* color: white; */
  transition: opacity 0.5s ease-in-out;
  overflow: visible; /* Make sure it doesn't cut off the expanded content */
}

/* Pseudo-element to create a seamless hover area */
.toast-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  padding: 4px;
  /* background: yellow; */
  z-index: -1;
  transition: all 0.3s ease;
}

/* Expanded hover area */
.toast-container:hover::before {
  background: rgba(0, 0, 0, 0.1);
  height: auto;
}

.toast-container:hover .toast {
  transform: translateY(0);
}

.toast-container:hover .toast:nth-child(1) {
  z-index: 3;
  transform: translateY(0) scale(1);
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.toast-container:hover .toast:nth-child(2) {
  z-index: 2;
  transform: translateY(-130%) scale(1);
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.toast-container:hover .toast:nth-child(3) {
  z-index: 1;
  transform: translateY(-260%) scale(1);
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.toast.unset-bottom {
  bottom: unset;
}

.toast {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.35s cubic-bezier(0.25, 0.75, 0.6, 0.98),
    opacity 0.4s ease-in-out;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
  width: 320px;
  max-width: min(420px, 100vw - 48px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 12px;
  min-height: 63px;
  font-size: 1rem;
}

.toast.light {
  color: #000000;
  background-color: #ffffff;
}
.toast.light svg:hover {
  color: black;
}
.toast.light svg {
  color: #0000005a;
}
.toast.show {
  opacity: 1;
}

.toast:nth-child(1) {
  z-index: 3;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.5);
  transform: translateY(0) scale(1);
}

.toast:nth-child(2) {
  z-index: 2;
  box-shadow: 1px 0px 4px 1px rgba(0, 0, 0, 0.4);
  transform: translateY(-10px) scale(0.9);
}

.toast:nth-child(3) {
  z-index: 1;
  box-shadow: 2px 4px 6px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(-20px) scale(0.8);
}

.toast button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 20px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0);
}
.toast-hover-wrapper {
  position: relative;
  width: 100%;
  height: 63px;
  max-height: 220px;

  pointer-events: auto;
  /* background: red; */
}
.toast-hover-wrapper:hover {
  height: 200px;
}
.toast-success {
  background-color: #0fa;
}

.toast-error {
  background-color: #ff4560;
}

.toast-warning {
  background-color: #fa4;
}

.toast-info {
  background-color: aqua;
}

/* .toast-success-border {
  border: 0.3px solid #0fa;
}

.toast-error-border {
  border: 0.3px solid #ff4560;
}

.toast-warning-border {
  border: 0.3px solid #fa4;
}

.toast-info-border {
  border: 0.3px solid aqua;
} */

.progress-bar {
  transition: width linear 0.5s;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 7px;
  z-index: 1;
}
.progress-bar-white {
  background-color: white;
}
.progress-bar-black {
  background-color: black;
}

.toast-container.bottom-right {
  bottom: 20px;
  right: 20px;
}

.toast-container.bottom-left {
  bottom: 20px;
  left: 20px;
}

.toast-container.top-left {
  top: 20px;
  left: 20px;
}

.toast-container.top-right {
  top: 20px;
  right: 20px;
}

.toastifed-ltr {
  flex-direction: row;
}

.toastifed-rtl {
  flex-direction: row-reverse;
}

.fade-out {
  animation: react-toastified-fadeOut 0.5s ease-in-out forwards;
}

@keyframes react-toastified-fadeOut {
  to {
    opacity: 0;
  }
}

.exit-left-out {
  animation: react-toastified-exit-right 0.75s
    cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes react-toastified-exit-right {
  to {
    transform: translateX(100%);
  }
}
.react-toastified-message {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
.toast-center-button {
  display: flex;
  justify-content: center;
  align-items: start;

  /* flex-direction: column; */
}
.toast-close-button-wrapper {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  height: 100%;
  align-self: start;
  /* flex-direction: column; */
}
.toast-container.top-center {
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.toast-container.bottom-center {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.slide-left-fade-out {
  animation: slideFadeOutLeft 0.5s ease-in-out forwards;
}

@keyframes slideFadeOutLeft {
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.slide-right-fade-out {
  animation: slideFadeOutRight 0.5s ease-in-out forwards;
}

@keyframes slideFadeOutRight {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.slide-fade-out-down {
  animation: slideFadeOutDown 0.5s ease-in-out forwards;
}

@keyframes slideFadeOutDown {
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

.slide-fade-out-up {
  animation: slideFadeOutUp 0.5s ease-in-out forwards;
}

@keyframes slideFadeOutUp {
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.rotate-fade-out {
  animation: rotateFadeOut 0.5s ease-in-out forwards;
}

@keyframes rotateFadeOut {
  to {
    opacity: 0;
    transform: rotate(360deg);
  }
}

.zoom-out {
  animation: zoomOut 0.5s ease-in-out forwards;
}

@keyframes zoomOut {
  to {
    opacity: 0;
    transform: scale(-1);
  }
}

.zoom-in {
  animation: zoomIn 0.5s ease-in-out forwards;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Custom CSS for top-positioned toasts */
.toast-container.top-center:hover .toast,
.toast-container.top-right:hover .toast,
.toast-container.top-left:hover .toast {
  transform: translateY(0);
}

.toast-container.top-center:hover .toast:nth-child(1),
.toast-container.top-right:hover .toast:nth-child(1),
.toast-container.top-left:hover .toast:nth-child(1) {
  z-index: 3;
  transform: translateY(0) scale(1);
}

.toast-container.top-center:hover .toast:nth-child(2),
.toast-container.top-right:hover .toast:nth-child(2),
.toast-container.top-left:hover .toast:nth-child(2) {
  z-index: 2;
  transform: translateY(130%) scale(1);
}

.toast-container.top-center:hover .toast:nth-child(3),
.toast-container.top-right:hover .toast:nth-child(3),
.toast-container.top-left:hover .toast:nth-child(3) {
  z-index: 1;
  transform: translateY(260%) scale(1);
}
/* Default - Primary */
.toast-default {
  background-color: #007bff;
}

/* Success - Primary */
.toast-success {
  background-color: #28a745;
}

/* Error - Primary */
.toast-error {
  background-color: #dc3545;
}

/* Warning - Primary */
.toast-warning {
  background-color: #ffb907;
}

/* Info - Primary */
.toast-info {
  background-color: #17a2b8;
}

.toast-success-colored {
  background-color: #00ff00;
  color: black;
}

.toast-error-colored {
  background-color: #ff0000;
  color: black;
}

.toast-warning-colored {
  background-color: #ffb907;
  color: black;
}

.toast-info-colored {
  background-color: #00ffff;
  color: black;
}

/* Add borders to distinguish them */
.toast-success-colored-border,
.toast-error-colored-border,
.toast-warning-colored-border,
.toast-info-colored-border {
  border: 0.3px solid transparent;
}
